<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.midproject.tripin.repositiory.ChatbotRepo">

	<select id="getChatList" resultType="ChatbotRecommendationVO">
		SELECT *
		FROM chat_convs
		WHERE user_id = #{user_id}
		ORDER BY conv_at ASC
	</select>

	<insert id="insertChat" parameterType="ChatbotRecommendationVO">
		INSERT INTO chat_convs(conv_id, user_id, user_query, chatbot_resp, conv_at)
		VALUES(SEQ_CHAT_CONVS_ID.NEXTVAL, #{user_id}, #{user_query}, #{chatbot_resp}, sysdate)
	</insert>
	
	<select id="inquireResponseSelect" parameterType="Integer" resultType="FAQVO" >
		SELECT * FROM cust_inquiries
		WHERE inquiry_id=#{inquiry_id}
	</select>
	
	<insert id="insertInqChat" parameterType="Integer">
		INSERT INTO chat_inquiries(chat_inq_id, user_id, user_query, chatbot_resp, conv_at)
		VALUES(seq_chat_inq_id.nextval, ${user_id}, #{user_query}, #{chatbot_resp}, sysdate)
	</insert>
	
	<select id="getInquiriesList" parameterType="Integer" resultType="InquiriesVO">
		SELECT * FROM chat_inquiries
		WHERE user_id=#{user_id}
		ORDER BY conv_at ASC
	</select>

</mapper> 